@model JobSocialPoster.Core.Models.ProfileCategory

@{
    ViewBag.Title = "Usuń Kategorię";
}

    <h2>Usuń Kategorię</h2>

<h3>Czy na pewno chcesz usunąć kategorię profili?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót", "Index")
        </div>
    }
</div>
