@{
    ViewBag.Title = "Job Social Poster";
}

<div class="jumbotron">
    <h1>Job Social Poster</h1>
    <p class="lead">
        Aplikacja służąca do publikowania ogłoszeń rekrutacyjnych na portalach społecznościowych, integrująca portal ogłoszeniowy publikujący oferty pracy z portalami społecznościowymi. Aplikacja umożliwia automatyzację importu ogłoszeń rekrutacyjnych z plików CSV, dostosowanie ich treści do wymagań portali społecznościowych a następnie ich publikację z wykorzystaniem API serwisu <a href="https://socialpilot.com">socialpilot.com</a>.
    </p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Profile</h2>
        <p>
            Zarządzaj profilami w portalach społecznościowych.
        </p>
        <p><a class="btn btn-default" href="/ProfileManager">Zarządzaj profilami &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Kategorie profili</h2>
        <p>Zarządzaj kategoriami profili w portalach społecznościowych.</p>
        <p><a class="btn btn-default" href="/ProfileCategoryManager">Zarządzaj kategoriami profili &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Posty</h2>
        <p>Zarządzaj postami do publikacji w portalach społecznościowych.</p>
        <p><a class="btn btn-default" href="/PostManager">Zarządzaj postami &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Kategorie postów</h2>
        <p>Zarządzaj kategoriami postów do publikacji w portalach społecznościowych.</p>
        <p><a class="btn btn-default" href="/PostCategoryManager">Zarządzaj kategoriami postów &raquo;</a></p>
    </div>
</div>