@model JobSocialPoster.Core.Models.PostCategory

@{
    ViewBag.Title = "Usuwanie Kategorii postów";
}

    <h2>Usuwanie Kategorii postów</h2>

    <h3>Czy na pewno chcesz usunąc wybrana kategorię postów?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót", "Index")
        </div>
    }
</div>
